.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
    gap: 15px;
    margin: 0 auto;
}

.card {
    width: 100%;
    aspect-ratio: 3/4;
    position: relative;
}

.face {}