.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
    gap: 15px;
    margin: 100px auto;
}

.card {
    width: 100%;
    aspect-ratio: 3/4;
    position: relative;
    background-color: black;
    position: relative;
    border-radius: 5px;
    transition: all;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
}

.front {
    background-color: red;
}

.back {
    background-image: url('/images/backdoback.jpg');
    background-size: cover;
    background-position: center;
}

.card:hover {
    transform: rotateY(180deg);
}