.login-form {
    background-image: url('/images/bg_diablo_play.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.login-header img {
    width: 100%;
}

.login-header h1 {
    color: rgb(210, 19, 19);
    font-size: 27pt;
    margin-top: 40px;
    text-shadow: 0.0em 0.0em 0.5em white;
}

.login_input {
    font-size: 15pt;
    border: 3px solid gray;
    border-radius: 2px;
    color: black;
    padding: 7px;
    outline: none;
    margin-bottom: 35px;
    width: 100%;
    max-width: 300px;
}

.login_button {
    background-color: rgb(210, 19, 19);
    border-radius: 20px;
    color: white;
    padding: 7px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
}

.login_button:disabled {
    background-color: gainsboro;
    color: black;
}