.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.login-header img {
    width: 100%;
}

.login-header h1 {
    color: aquamarine;
    font-size: 20pt;
}

.login_input {
    border: 2px solid red;
    border-radius: 2px;
    color: blueviolet;
    padding: 7px;
    outline: none;
    margin-bottom: 15px;
}

.login_button {
    background-color: greenyellow;
    border-radius: 5px;
    color: violet;
    padding: 7px;
    cursor: pointer;
    width: 168px;
}

.login_